.profile-ctr {
    width: 100%;
    max-width: 600px;
    border: 1px solid rgb(239, 243, 244);
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;;
}

.banner {
    width: 100%;
    height: 200px;
}

.profile-details {
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.profile-pic {
    position: relative;
    width: 25%;
    min-width: 48px;
    margin-top: -15%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 9999px;
    outline: 4px solid white;
    outline-offset: -2px;
    display: block;
}

.user-ctr {
    margin-top: 4px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.user {
    margin: 0px;
    font-weight: 800;
    line-height: 24px;
    font-size: 20px;
    color: rgb(15, 20, 25);
    font-family: inherit;
    overflow-wrap: break-word;
    max-width: 100%;
}

.username {
    margin: 0px;
    font-size: 15px;
    font-family: inherit;
    color: rgb(83, 100, 113);
}

.description {
    margin-bottom: 12px;
    margin-top: 0px;
    font-family: inherit;
}

.location-url-join {
    margin-bottom: 12px;
    line-height: 12px;
    font-size: 15px;
    font-family: inherit;
}

.icon-ctr {
    color: rgb(83, 100, 113);
    display: inline;
    margin-right: 12px;
}

.icon {
    margin-right: 4px;
    height: 1.25em;
    fill: currentcolor;
    vertical-align: text-bottom;
}

.follow-ctr {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.following-ctr, .followers-ctr {
    margin-right: 20px;
    color: rgb(15, 20, 25);
    font-size: 15px;
    font-family: inherit;
}

.count{
    font-size: 14px;
    font-weight: 700;
    color: rgb(15, 20, 25);
}

.follow {
    color: rgb(83, 100, 113);
    font-size: 14px;
}

.ctr a {
    text-decoration: none;
}

.ctr a span{
    text-decoration: none;
    color: rgb(29, 155, 240);
}